

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

form {
  max-width: 800px;           
  margin: 0 auto;
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  fieldset {
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 25px;

    legend {
      font-weight: bold;
      padding: 0 10px;
    }

    label {
      display: block;
      margin-bottom: 150x;
      font-weight: 100;

      

input[type="color"] {
  display: block;
  width: 100vw;  
  height: 60px;
  border: none;
  padding: 0;
  margin: 10px -25px;
  cursor: pointer;
}

   
      input[type="range"] {
    
        width: 100%;
        height: 10px;
        border-radius: 5px;
        background: #007BFF;
        margin-top: 5px;
        cursor: pointer; 
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background: white;
          border: 2px solid #007BFF;
        }
      
      input[type="file"] {
        display: block;
        width: 100%;
        margin-top: 5px;
      }

    
    
    }
  }

  
  button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    margin-right: 10px;
    width: 150px; 
  }
}